.contacto--flex {
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 600px) { 
    .texto__contacto {
    border: 1px solid #000000;
    border-radius: $space;
    margin: $space;
    padding: $space;
    width: 380px;
}

form {
    background-color: #e4745d;
    border-radius: $space;
    margin: 30px;
    padding: $space;
    width: 400px;
    float:none;
    position:sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        margin: 3px;
    }
}

}

@media only screen and (max-width: 600px) { 

.texto__contacto {
        border: 1px solid #000000;
        border-radius: $space;
        margin: $space;
        padding: $space;
        width: 75vw;
    }

form {
    background-color: #e4745d;
    border-radius: $space;
    margin: 30px;
    padding: $space;
    width: 80vw;
    float:none;
    position:sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        margin: 3px;
    }
}}