.contacto--flex {
    display: flex;
    flex-direction: column;

.texto__contacto {
    border: 1px solid #000000;
    border-radius: $space;
    margin: $space;
    padding: $space;
    width: 380px;
}

form {
    background-color: #e4745d;
    border-radius: $space;
    margin: $space;
    padding: $space;
    width: 400px;
    float:none;
    position:sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        margin: 3px;
    }
}

}