footer{
    text-align: center; 
    width: 100vw;
    height: auto;
    background-color: white;
    margin-top: 35px;

    .fondo__footer {
        width: 100vw;
        height: 4px;
        background-color: rgb(226, 226, 226);
        margin-top: 10px;
    }

    .fondo__footer1 {
        width: 100vw;
        height: 6px;
        background-color: rgb(226, 226, 226);
        margin-top: 7px;
    }
    
    .fondo__footer2 {
        width: 100vw;
        height: 8px;
        background-color: rgb(226, 226, 226);
        margin-top: 4px;
    }

    div {
        padding-bottom: 5px;
        padding-top: 15px;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
    }

    ul {
        color:none;
        font-size: 90%;
        line-height: 2;
        text-decoration: none;
        padding-top: 10px;
        margin-top: 30px;

        li {
            display: inline;
            border: none;
            margin-top:10px;
            border: 2px solid rgb(0, 0, 0);
            padding-right: 2px;
            padding-left: 2px;
            background-color: none;
            color: rgb(0, 0, 0);
            text-transform: uppercase;
        }
    }
}