
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(226, 226, 226);
}

@media only screen and (min-width: 750px) { 
h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-h1;
    margin: 10px;
    display: inline;
    align-items: center;
}}


h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-h1;
    margin: 10px;
    margin-top: 30px;
}

@media only screen and (max-width: 750px) { 
    h1 {
        color: #000000;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font-h1;
        margin: 5px;
        display: inline;
        align-items: center;
    }}

h3 {
    font-size: 18px;
    font-family: $font-h3;
    text-transform: capitalize;
    text-align-last: center;
    margin: 2px;
    padding: 2px;
}

h4 {
    font-size: 12px;
    text-transform: uppercase;
    text-align-last: center;
    margin: 2px;
    padding: 2px;
    font-family: $font-h1;
}

.neutralizar {
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

.neutralizar a:hover {
    @extend .neutralizar;
}

.neutralizar a:visited {
    @extend .neutralizar;
}

.neutralizar a:link {
    @extend .neutralizar;
}

.neutralizar a:active {
    @extend .neutralizar;
}

.neutralizar2 {
    color: $colorD;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

.neutralizar2 a:hover {
    @extend .neutralizar2;
}

.neutralizar2 a:visited {
    @extend .neutralizar2;
}

.neutralizar2 a:link {
    @extend .neutralizar2;
}

.neutralizar2 a:active {
    @extend .neutralizar2;
}