header{
    width: 100vw;
    margin-bottom: 0px;
    padding-bottom: 10px;
    background-image: linear-gradient(to top, rgb(255, 255, 255)0,rgb(255, 255, 255)50%,rgb(255, 255, 255));
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        justify-content: center;
    }

.menu-ppal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: none;
}

.logo {
    width: 75px;
    margin-bottom: 10px;
    display: inline-block;
}

ul .menu { 
    display: inline;
    background-color: rgb(226, 226, 226);
    margin: 4px;
    padding: 2px;
    background-color: none;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}
}
