/* Animación para "Recientemente Agregados" en Index */

@keyframes slide {
    0% {opacity: 0%;}
    2% {opacity: 100%;}

    33% {opacity: 100%;}
    35% {opacity: 0%;}

    66% {}

    100% {opacity: 0%;}
}

@media only screen and (min-width: 750px) { 


/* Código para "Sugerencias" */

.index-img-box {
    width: 650px;
    height: 325px;
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: none;
    grid-gap: 10px;

}

.index-img1 {
    background-image: url(../img/hipolita.jpg);
    background-position: center;
    grid-column: 1/2;
    grid-row: 1/3;
}
    
.index-img2 {
    background-image: url(../img/toro-creta.jpg);
    grid-column: 2/4;
    grid-row: 1/2;
}
    
.index-img3 {
    background-image: url(../img/jabali-erimanto-banner.jpg);
    grid-column: 2/4;
    grid-row: 2/3;
}
    
.index-img4 {
    background-image: url(../img/establo-augias.jpg);
    background-position: center;
    grid-column: 4/5;
    grid-row: 1/3;
}

.index-img {
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    background-size: cover;
}

.index-img:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;
}

/* Código para "Recientemente agregados" */
  
.contenedor {
    width: 504px;
    height: 230px;
    position: relative;
    border: none;
    overflow: hidden;
    text-align-last: left;
    font-size: 20px;
}

.contenedor__slide {
    width: 500px;
    height: 230px;
    border-radius: 5px;
}

.contenedor__slide--new1 {
background-image: url(../img/manzana-hesperides.jpg);
background-size: cover;
animation-name: slide;
animation-iteration-count: infinite;
animation-duration: 9s;
animation-delay: 0s;
z-index: 2;
}

.contenedor__slide--new2 {
background-image: url(../img/hidra-lerna.jpg);
background-size: cover;
animation-name: slide;
animation-iteration-count: infinite;
animation-duration: 9s;
animation-delay: 3s;
position: relative;
bottom: 230px;
z-index: 1;
}

.contenedor__slide--new3 {
background-image: url(../img/yeguas-diomedes.jpg);
background-size: cover;
animation-name: slide;
animation-iteration-count: infinite;
animation-duration: 9s;
animation-delay: 6s;
position: relative;
bottom: 460px;
z-index: 0;
}
}

@media only screen and (max-width: 750px) { 
    .index-img-box {
        width: 100vw;
        height: 100vw;
        display: grid;
        margin-bottom: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        background-color: none;
        grid-gap: 10px;
        }
        
        .index-img {
            text-transform: uppercase;
            font-weight: bold;
            text-align-last: left;
            font-family: sans-serif;
            background-size: cover;
        }
        
        .index-img1 {
            background-image: url(../img/hipolita-cel.jpg);
            background-position: center;
            grid-column: 1/2;
            grid-row: 1/2;
        }
        
        .index-img2 {
            background-image: url(../img/toro-creta-cel.jpg);
            grid-column: 1/2;
            grid-row: 2/3;
        }
        
        .index-img3 {
            background-image: url(../img/jabali-erimanto-cel.jpg);
            grid-column: 1/2;
            grid-row: 3/4;
         
        }
        
        .index-img4 {
            background-image: url(../img/establo-augias-cel.jpg);
            background-position: center;
            text-align: left;
            grid-column: 1/2;
            grid-row: 4/5;
        }

/* Código para "Recientemente agregados" */

.contenedor {
    width: 504px;
    height: 230px;
    position: relative;
    border: none;
    overflow: hidden;
    text-align-last: left;
    font-size: 20px;
}

.contenedor__slide {
    width: 80vw;
    height: 36.8vw;
    border-radius: 5px;
}

.contenedor__slide--new1 {
background-image: url(../img/manzana-hesperides.jpg);
background-size: cover;
animation-name: slide;
animation-iteration-count: infinite;
animation-duration: all 9s;
animation-delay: all 0s;
z-index: 2;
}

.contenedor__slide--new2 {
background-image: url(../img/hidra-lerna.jpg);
background-size: cover;
animation-name: slide;
animation-iteration-count: infinite;
animation-duration: all 9s;
animation-delay: all 3s;
position: relative;
bottom: 36.8vw;
z-index: 1;
}

.contenedor__slide--new3 {
background-image: url(../img/yeguas-diomedes.jpg);
animation-iteration-count: infinite;
animation-duration: all 9s;
animation-delay: all 6s;
position: relative;
bottom: 73.6vw;
z-index: 0;
}

}