/* Animación para "Recientemente Agregados" en Index */

@keyframes slide {
    0% {opacity: 0%;}
    2% {opacity: 100%;}

    33% {opacity: 100%;}
    35% {opacity: 0%;}

    66% {}

    100% {opacity: 0%;}
}

@media only screen and (min-width: 750px) { 


/* Código para "Sugerencias" */

.index-img-box {
    width: 650px;
    height: 325px;
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: none;
    grid-gap: 10px;

}

.index-img1 {
    background-color: #ffffff;
    // background-image: url();
    background-position: center;
    grid-column: 1/2;
    grid-row: 1/3;
    
}
    
.index-img2 {
    background-color: #ffffff;
    // background-image: url();
    grid-column: 2/4;
    grid-row: 1/2;
}
    
.index-img3 {
    background-color: #ffffff;
    // background-image: url();
    grid-column: 2/4;
    grid-row: 2/3;
}
    
.index-img4 {
    background-color: #ffffff;
    // background-image: url();
    background-position: center;
    grid-column: 4/5;
    grid-row: 1/3;
}

.index-img {
    border-radius: $radius;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    background-size: cover;
}

.index-img:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;
}

// Banner de Novedades

$altobanner: 35vh;
$anchobanner: $altobanner*2.5;
$cantidadbanner: 5;

.fondobanner {
    width: 100vw;
    height: $altobanner*0.95;
    background-color: rgba(0, 0, 0, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: $anchobanner;
    height: $altobanner;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 10vw;
    padding-right: 10vw;
}

.contenedor__slide {
    transform: skewX(-15deg);
    width: $altobanner*1.8;
    border-radius: $radius;
    height: inherit;
    background-size: cover;
    background-position-x: center;
    margin: $space;
    margin-bottom: 30px;
}

.contenedor__slide:hover {
    flex-shrink: 0.2;
    transition-duration: 0.5s;
}

.contenedor__slide--new1 {
    background-color: rgb(255, 255, 255);
    // background-image: url(../img/A.png);
}

.contenedor__slide--new2 {
    background-color: rgb(255, 255, 255);
    // background-image: url(../img/B.png);
}

.contenedor__slide--new3 {
    background-color: rgb(255, 255, 255);
    // background-image: url(../img/C.png);
}

.contenedor__slide--new4 {
    background-color: rgb(255, 255, 255);
    // background-image: url(../img/B.png);
}

.contenedor__slide--new5 {
    background-color: rgb(255, 255, 255);
    // background-image: url(../img/A.png);
}

}

@media only screen and (max-width: 750px) { 
    .index-img-box {
        width: 100vw;
        height: 100vw;
        display: grid;
        margin-bottom: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        background-color: none;
        grid-gap: 10px;
        }
        
        .index-img {
            text-transform: uppercase;
            font-weight: bold;
            text-align-last: left;
            font-family: sans-serif;
            background-size: cover;
        }
        
        .index-img1 {
            background-color: #ffffff;
            // background-image: url();
            background-position: center;
            grid-column: 1/2;
            grid-row: 1/2;
        }
        
        .index-img2 {
            background-color: #ffffff;
            // background-image: url();
            grid-column: 1/2;
            grid-row: 2/3;
        }
        
        .index-img3 {
            background-color: #ffffff;
            // background-image: url();
            grid-column: 1/2;
            grid-row: 3/4;
         
        }
        
        .index-img4 {
            background-color: #ffffff;
            // background-image: url();
            background-position: center;
            text-align: left;
            grid-column: 1/2;
            grid-row: 4/5;
        }


// Banner de Novedades

$anchobanner: 90vw;
$altobanner: $anchobanner/2.5;
$cantidadbanner: 5;

.fondobanner {
    width: 100vw;
    height: $altobanner*0.95;
    background-color: rgba(0, 0, 0, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: $anchobanner;
    height: $altobanner;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 10vw;
    padding-right: 10vw;
}

.contenedor__slide {
    transform: skewX(-15deg);
    width: $altobanner*1.8;
    border-radius: $radius;
    height: inherit;
    background-size: cover;
    background-position-x: center;
    margin: $space;
}

.contenedor__slide:hover {
    flex-shrink: 0.2;
    transition-duration: 0.5s;
}

.contenedor__slide--new1 {
    background-color: brown;
    background-image: url(../img/A.png);
}

.contenedor__slide--new2 {
    background-color: brown;
    background-image: url(../img/B.png);
}

.contenedor__slide--new3 {
    background-color: brown;
    background-image: url(../img/C.png);
}

.contenedor__slide--new4 {
    background-color: brown;
    background-image: url(../img/B.png);
}

.contenedor__slide--new5 {
    background-color: brown;
    background-image: url(../img/A.png);
}

}