@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Sacramento&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e2e2e2;
}

@media only screen and (min-width: 750px) {
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "MedievalSharp";
    margin: 10px;
    display: inline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

h2 {
  color: black;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "MedievalSharp";
  margin: 10px;
  margin-top: 30px;
}

@media only screen and (max-width: 750px) {
  h1 {
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "MedievalSharp";
    margin: 5px;
    display: inline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

h3 {
  font-size: 18px;
  font-family: "MedievalSharp";
  text-transform: capitalize;
  text-align-last: center;
  margin: 2px;
  padding: 2px;
}

h4 {
  font-size: 12px;
  text-transform: uppercase;
  text-align-last: center;
  margin: 2px;
  padding: 2px;
  font-family: "MedievalSharp";
}

.neutralizar, .neutralizar a:hover, .neutralizar a:visited, .neutralizar a:link, .neutralizar a:active {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
}

.neutralizar2, .neutralizar2 a:hover, .neutralizar2 a:visited, .neutralizar2 a:link, .neutralizar2 a:active {
  color: #912b2b;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
}

footer {
  text-align: center;
  width: 100vw;
  height: auto;
  background-color: white;
  margin-top: 35px;
}

footer .fondo__footer {
  width: 100vw;
  height: 4px;
  background-color: #e2e2e2;
  margin-top: 10px;
}

footer .fondo__footer1 {
  width: 100vw;
  height: 6px;
  background-color: #e2e2e2;
  margin-top: 7px;
}

footer .fondo__footer2 {
  width: 100vw;
  height: 8px;
  background-color: #e2e2e2;
  margin-top: 4px;
}

footer div {
  padding-bottom: 5px;
  padding-top: 15px;
  color: black;
  text-transform: uppercase;
}

footer ul {
  color: none;
  font-size: 90%;
  line-height: 2;
  text-decoration: none;
  padding-top: 10px;
  margin-top: 30px;
}

footer ul li {
  display: inline;
  border: none;
  margin-top: 10px;
  border: 2px solid black;
  padding-right: 2px;
  padding-left: 2px;
  background-color: none;
  color: black;
  text-transform: uppercase;
}

header {
  width: 100vw;
  height: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(50%, white), to(white));
  background-image: linear-gradient(to top, white 0, white 50%, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  background-image: url(../img/logo.png);
  background-size: cover;
  width: 60px;
  height: 60px;
  margin: 10px;
  display: inline-block;
}

.dropdown__boton {
  background-color: #cacaca;
  background-image: url(../img/Dropdown.png);
  border-radius: 3px;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-panel {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-panel a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-panel a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-panel {
  display: block;
  z-index: 4;
}

.fondo__body {
  background-color: #ffffff;
  margin-top: 5px;
  width: 100vw;
  height: 5px;
}

/* Animación para "Recientemente Agregados" en Index */
@-webkit-keyframes slide {
  0% {
    opacity: 0%;
  }
  2% {
    opacity: 100%;
  }
  33% {
    opacity: 100%;
  }
  35% {
    opacity: 0%;
  }
  66% {
  }
  100% {
    opacity: 0%;
  }
}
@keyframes slide {
  0% {
    opacity: 0%;
  }
  2% {
    opacity: 100%;
  }
  33% {
    opacity: 100%;
  }
  35% {
    opacity: 0%;
  }
  66% {
  }
  100% {
    opacity: 0%;
  }
}

@media only screen and (min-width: 750px) {
  /* Código para "Sugerencias" */
  .index-img-box {
    width: 650px;
    height: 325px;
    display: -ms-grid;
    display: grid;
    margin-bottom: 10px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    background-color: none;
    grid-gap: 10px;
  }
  .index-img {
    border-radius: 5px;
    border: 2px solid #6c020daf;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
  }
  .index-img1 {
    background-color: #ffffff;
    background-image: url(../img/e1.jpg);
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .index-img2 {
    background-color: #ffffff;
    background-image: url(../img/b1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .index-img3 {
    background-color: #ffffff;
    background-image: url(../img/o1.jpg);
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .index-img4 {
    background-color: #ffffff;
    background-image: url(../img/l2.jpg);
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .index-img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
  .fondobanner {
    width: 100vw;
    height: 33.25vh;
    background-color: rgba(0, 0, 0, 0.39);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor {
    width: 87.5vh;
    height: 35vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .contenedor__slide {
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
    width: 63vh;
    border-radius: 5px;
    height: inherit;
    background-size: cover;
    background-position-x: center;
    margin: 5px;
    margin-bottom: 30px;
    border: 2px solid #6c020daf;
  }
  .contenedor__slide a p {
    color: #91031D;
  }
  .contenedor__slide:hover {
    -ms-flex-negative: 0.2;
        flex-shrink: 0.2;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .contenedor__slide--new1 {
    background-color: white;
    background-image: url(../img/banner1.jpg);
  }
  .contenedor__slide--new2 {
    background-color: white;
    background-image: url(../img/banner2.jpg);
  }
  .contenedor__slide--new3 {
    background-color: white;
    background-image: url(../img/banner3.jpg);
  }
  .contenedor__slide--new4 {
    background-color: white;
    background-image: url(../img/banner4.jpg);
  }
  .contenedor__slide--new5 {
    background-color: white;
    background-image: url(../img/banner5.jpg);
  }
}

@media only screen and (max-width: 750px) {
  .index-img-box {
    width: 90vw;
    height: 90vw;
    display: -ms-grid;
    display: grid;
    margin-bottom: 10px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    background-color: none;
    grid-gap: 10px;
  }
  .index-img {
    text-transform: uppercase;
    font-weight: bold;
    text-align-last: left;
    font-family: sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 5px;
    border: 2px solid #6c020daf;
  }
  .index-img1 {
    background-color: #ffffff;
    background-image: url(../img/p2.jpg);
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .index-img2 {
    background-color: #ffffff;
    background-image: url(../img/b1.jpg);
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .index-img3 {
    background-color: #ffffff;
    background-image: url(../img/o1.jpg);
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .index-img4 {
    background-color: #ffffff;
    background-image: url(../img/l2.jpg);
    background-size: cover;
    text-align: left;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .fondobanner {
    width: 100vw;
    height: 34.2vw;
    background-color: rgba(0, 0, 0, 0.39);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor {
    width: 90vw;
    height: 36vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .contenedor__slide {
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
    width: 64.8vw;
    border-radius: 5px;
    height: inherit;
    background-size: cover;
    background-position-x: center;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #6c020daf;
  }
  .contenedor__slide:hover {
    -ms-flex-negative: 0.2;
        flex-shrink: 0.2;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .contenedor__slide--new1 {
    display: none;
  }
  .contenedor__slide--new2 {
    display: none;
  }
  .contenedor__slide--new3 {
    background-color: white;
    background-image: url(../img/banner3.jpg);
  }
  .contenedor__slide--new4 {
    background-color: white;
    background-image: url(../img/banner4.jpg);
  }
  .contenedor__slide--new5 {
    background-color: white;
    background-image: url(../img/banner5.jpg);
  }
}

.seccion__img--bestia1 {
  background-image: url(../img/b1.jpg);
}

.seccion__img--bestia2 {
  background-image: url(../img/b2.jpg);
}

.seccion__img--bestia3 {
  background-image: url(../img/b3.jpg);
}

.seccion__img--bestia4 {
  background-image: url(../img/b4.jpg);
}

.seccion__img--bestia5 {
  background-image: url(../img/b5.jpg);
}

.seccion__img--bestia6 {
  background-image: url(../img/b6.jpg);
}

.seccion__img--bestia7 {
  background-image: url(../img/b7.jpg);
}

.seccion__img--bestia8 {
  background-image: url(../img/b8.jpg);
}

.seccion__img--bestia9 {
  background-image: url(../img/b9.jpg);
}

.seccion__img--bestia10 {
  background-image: url(../img/b10.jpg);
}

.seccion__img--bestia11 {
  background-image: url(../img/b11.jpg);
}

.seccion__img--bestia12 {
  background-image: url(../img/b12.jpg);
}

.seccion__img--bestia13 {
  background-image: url(../img/b13.jpg);
}

.seccion__img--bestia14 {
  background-image: url(../img/b14.jpg);
}

.seccion__img--bestia15 {
  background-image: url(../img/b15.jpg);
}

.seccion__img--bestia16 {
  background-image: url(../img/b16.jpg);
}

.seccion__img--bestia17 {
  background-image: url(../img/b17.jpg);
}

.seccion__img--bestia18 {
  background-image: url(../img/b18.jpg);
}

.seccion__img--bestia19 {
  background-image: url(../img/b19.jpg);
}

.seccion__img--bestia20 {
  background-image: url(../img/b20.jpg);
}

.seccion__img--obj1 {
  background-image: url(../img/o1.jpg);
}

.seccion__img--obj2 {
  background-image: url(../img/o2.jpg);
}

.seccion__img--obj3 {
  background-image: url(../img/o3.jpg);
}

.seccion__img--obj4 {
  background-image: url(../img/o4.jpg);
}

.seccion__img--obj5 {
  background-image: url(../img/o5.jpg);
}

.seccion__img--obj6 {
  background-image: url(../img/o6.jpg);
}

.seccion__img--obj7 {
  background-image: url(../img/o7.jpg);
}

.seccion__img--obj8 {
  background-image: url(../img/o8.jpg);
}

.seccion__img--obj9 {
  background-image: url(../img/o9.jpg);
}

.seccion__img--obj10 {
  background-image: url(../img/o10.jpg);
}

.seccion__img--obj11 {
  background-image: url(../img/o11.jpg);
}

.seccion__img--obj12 {
  background-image: url(../img/o12.jpg);
}

.seccion__img--obj13 {
  background-image: url(../img/o13.jpg);
}

.seccion__img--obj14 {
  background-image: url(../img/o14.jpg);
}

.seccion__img--obj15 {
  background-image: url(../img/o15.jpg);
}

.seccion__img--obj16 {
  background-image: url(../img/o16.jpg);
}

.seccion__img--obj17 {
  background-image: url(../img/o17.jpg);
}

.seccion__img--obj18 {
  background-image: url(../img/o18.jpg);
}

.seccion__img--obj19 {
  background-image: url(../img/o19.jpg);
}

.seccion__img--obj20 {
  background-image: url(../img/o20.jpg);
}

.seccion__img--person1 {
  background-image: url(../img/p1.jpg);
}

.seccion__img--person2 {
  background-image: url(../img/p2.jpg);
}

.seccion__img--person3 {
  background-image: url(../img/p3.jpg);
}

.seccion__img--person4 {
  background-image: url(../img/p4.jpg);
}

.seccion__img--person5 {
  background-image: url(../img/p5.jpg);
}

.seccion__img--person6 {
  background-image: url(../img/p6.jpg);
}

.seccion__img--person7 {
  background-image: url(../img/p7.jpg);
}

.seccion__img--person8 {
  background-image: url(../img/p8.jpg);
}

.seccion__img--person9 {
  background-image: url(../img/p9.jpg);
}

.seccion__img--person10 {
  background-image: url(../img/p10.jpg);
}

.seccion__img--person11 {
  background-image: url(../img/p11.jpg);
}

.seccion__img--person12 {
  background-image: url(../img/p12.jpg);
}

.seccion__img--person13 {
  background-image: url(../img/p13.jpg);
}

.seccion__img--person14 {
  background-image: url(../img/p14.jpg);
}

.seccion__img--person15 {
  background-image: url(../img/p15.jpg);
}

.seccion__img--person16 {
  background-image: url(../img/p16.jpg);
}

.seccion__img--person17 {
  background-image: url(../img/p17.jpg);
}

.seccion__img--person18 {
  background-image: url(../img/p18.jpg);
}

.seccion__img--person19 {
  background-image: url(../img/p19.jpg);
}

.seccion__img--person20 {
  background-image: url(../img/p20.jpg);
}

.seccion__img--place1 {
  background-image: url(../img/l1.jpg);
}

.seccion__img--place2 {
  background-image: url(../img/l2.jpg);
}

.seccion__img--place3 {
  background-image: url(../img/l3.jpg);
}

.seccion__img--place4 {
  background-image: url(../img/l4.jpg);
}

.seccion__img--place5 {
  background-image: url(../img/l5.jpg);
}

.seccion__img--place6 {
  background-image: url(../img/l6.jpg);
}

.seccion__img--place7 {
  background-image: url(../img/l7.jpg);
}

.seccion__img--place8 {
  background-image: url(../img/l8.jpg);
}

.seccion__img--place9 {
  background-image: url(../img/l9.jpg);
}

.seccion__img--place10 {
  background-image: url(../img/l10.jpg);
}

.seccion__img--place11 {
  background-image: url(../img/l11.jpg);
}

.seccion__img--place12 {
  background-image: url(../img/l12.jpg);
}

.seccion__img--place13 {
  background-image: url(../img/l13.jpg);
}

.seccion__img--place14 {
  background-image: url(../img/l14.jpg);
}

.seccion__img--place15 {
  background-image: url(../img/l15.jpg);
}

.seccion__img--place16 {
  background-image: url(../img/l16.jpg);
}

.seccion__img--place17 {
  background-image: url(../img/l17.jpg);
}

.seccion__img--place18 {
  background-image: url(../img/l18.jpg);
}

.seccion__img--place19 {
  background-image: url(../img/l19.jpg);
}

.seccion__img--place20 {
  background-image: url(../img/l20.jpg);
}

.seccion__img--event1 {
  background-image: url(../img/e1.jpg);
  background-size: cover;
}

.seccion__img--event2 {
  background-image: url(../img/e2.jpg);
  background-size: cover;
}

.seccion__img--event3 {
  background-image: url(../img/e3.jpg);
  background-size: cover;
}

.seccion__img--event4 {
  background-image: url(../img/e4.jpg);
  background-size: cover;
}

.seccion__img--event5 {
  background-image: url(../img/e5.jpg);
  background-size: cover;
}

.seccion__img--event6 {
  background-image: url(../img/e6.jpg);
  background-size: cover;
}

.seccion__img--event7 {
  background-image: url(../img/e7.jpg);
  background-size: cover;
}

.seccion__img--event8 {
  background-image: url(../img/e8.jpg);
  background-size: cover;
}

.seccion__img--event9 {
  background-image: url(../img/e9.jpg);
  background-size: cover;
}

.seccion__img--event10 {
  background-image: url(../img/e10.jpg);
  background-size: cover;
}

.seccion__img--event11 {
  background-image: url(../img/e11.jpg);
  background-size: cover;
}

.seccion__img--event12 {
  background-image: url(../img/e12.jpg);
  background-size: cover;
}

.seccion__img--event13 {
  background-image: url(../img/e13.jpg);
  background-size: cover;
}

.seccion__img--event14 {
  background-image: url(../img/e14.jpg);
  background-size: cover;
}

.seccion__img--event15 {
  background-image: url(../img/e15.jpg);
  background-size: cover;
}

.seccion__img--event16 {
  background-image: url(../img/e16.jpg);
  background-size: cover;
}

.seccion__img--event17 {
  background-image: url(../img/e17.jpg);
  background-size: cover;
}

.seccion__img--event18 {
  background-image: url(../img/e18.jpg);
  background-size: cover;
}

.seccion__img--event19 {
  background-image: url(../img/e19.jpg);
  background-size: cover;
}

.seccion__img--event20 {
  background-image: url(../img/e20.jpg);
  background-size: cover;
}

.seccion__tarjeta--bestia {
  background-color: rgba(130, 149, 255, 0.959);
}

.seccion__tarjeta--obj {
  background-color: #f7c985;
}

.seccion__tarjeta--place {
  background-color: #ffb84d;
}

.seccion__tarjeta--person {
  background-color: rgba(130, 149, 199, 0.959);
}

@media only screen and (min-width: 750px) {
  .event-box {
    width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .event-box1 {
    border-radius: 5px;
    width: inherit;
    background-color: #77c777;
    margin-bottom: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
  }
  .event-text-box {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align-last: center;
  }
  .event-text {
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .event-text .event-text-box ol {
    padding: 10px;
  }
  .seccion {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .seccion__img {
    border-radius: 5px;
    height: 180px;
    background-size: cover;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .seccion__tarjeta:hover .seccion__oculto {
    position: absolute;
    border-radius: 5px;
    margin-top: 5px;
    width: 250px;
    height: auto;
    overflow: hidden;
    background-color: beige;
  }
  .seccion__tarjeta:hover .seccion__oculto p {
    padding: 5px;
    text-align: center;
    border-top: 1px solid #525151;
  }
  .seccion__tarjeta {
    border-radius: 5px;
    margin-top: 10px;
    width: 180px;
    height: 225px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    overflow: hidden;
  }
  .seccion__tarjeta h3 {
    height: 40px;
    text-align: center;
    padding: 3px;
  }
}

@media only screen and (max-width: 750px) {
  .event-box {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .event-box1 {
    border-radius: 5px;
    width: 85vw;
    background-color: #77c777;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    padding: 5px;
  }
  .event-img1 {
    width: 80vw;
    height: 60vw;
    border-radius: 5px;
    background-image: url(../img/heracles.jpg);
    background-size: cover;
  }
  .event-text {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 2px solid #589458;
    border-bottom: 2px solid #589458;
  }
  .event-text-box ol {
    padding-left: 40px;
  }
  .seccion {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .seccion__img {
    border-radius: 5px;
    height: 180px;
    background-size: cover;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .seccion__tarjeta:hover .seccion__oculto {
    position: absolute;
    border-radius: 5px;
    margin-top: 10px;
    width: inherit;
    height: auto;
    overflow: hidden;
    background-color: #e6e6e6;
    -webkit-transform: translate(-205px, 180px);
            transform: translate(-205px, 180px);
  }
  .seccion__tarjeta:hover .seccion__oculto p {
    padding: 5px;
    text-align: center;
    border-top: 1px solid #525151;
  }
  .seccion__tarjeta {
    border-radius: 5px;
    margin-top: 10px;
    width: inherit;
    height: 205px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    overflow: hidden;
  }
  .seccion__tarjeta h3 {
    height: 20px;
    text-align: center;
    padding: 3px;
  }
  .seccion__img {
    border-radius: 5px;
    height: 180px;
    background-size: cover;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
}

.contacto--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto--flex .texto__contacto {
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 380px;
}

.contacto--flex form {
  background-color: #e4745d;
  border-radius: 5px;
  margin: 30px;
  padding: 5px;
  width: 400px;
  float: none;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto--flex form div {
  margin: 3px;
}
/*# sourceMappingURL=estilos.css.map */