* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Sacramento&display=swap');

$radius: 5px;
$space: 3px;


$font-h1:'MedievalSharp';
$font-h3:'MedievalSharp';
$font-h3: 'MedievalSharp';

@import "general";
@import "footer";
@import "header";
@import "index";
@import "bestiario+artefactos+historias";
@import "contacto";


// Set-ExecutionPolicy Unrestricted
// sass --watch estilos.scss estilos.css
// sass --watch estilos/estilos.scss estilos/estilos.css